* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

body {
    background: #141414;
    min-height: 100vh;
}

.container {
    width: 1070px;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 70px;
    background: #141414;
}

header img {
    height: 50px;
    margin-top: 10px;
}

.films-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px 0;
}

.card {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-basis: 200px;
    padding: 20px;
    margin: 10px 20px;
    height: 400px;
    background: rgb(46, 58, 70);
    text-align: center;
}

.card img {
    max-width: 100%;
}

.card h3 {
    margin: 20px 0;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.card ul.author {
    color: grey;
    font-size: 20px;
    list-style: none;
}

.card .author li {
  display: inline-block;
}

.card .author li > i {
  color: yellow;
}

.card span.year {
    color: grey;
}
