<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>vue-boolflix</title>
        <!-- Ajax CND axios -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>

        <!-- VUE (CDN) -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

        <!-- style -->
        <link rel="stylesheet" href="css/style.css">

        <!-- fontawesome -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    </head>
    <body>
      <div id="root">


        <header>
            <div class="container">
                <img :src="basePath+logoNetflixPath" alt="logo" />

                  <input type="text" name="ricerca"
                  v-model="ricercaTitolo"
                  @keyup.enter="ricercaFilm"
                  >

            </div>


        </header>

        <div class="films-container container">
            <!-- Cover Film ad esempio -->
            <div class="card"
            v-for="film in insiemeFilms"
            >
                <img :src="basePath+film.poster_path"
                alt="">

                <h3>{{film.title}}</h3>

                <ul class="author">

                  <li
                  v-for="voto in votazioneFilm(film.vote_average)"
                  >
                  <i class="fas fa-star"></i>
                  </li>

                </ul>
                <span class="year">{{film.release_date}}</span>

                <img
                v-for="bandiera in bandiere"
                :src="img + bandiere.flagImage" alt="">
            </div>
        </div>

      </div>

      <script src="js/main.js" charset="utf-8"></script>
    </body>
</html>
